<!-- <app-example age="18" hairColor="red"></app-example>
<app-example name="New Name"></app-example>
<app-people-list></app-people-list>
<app-event-handling></app-event-handling> -->

<!-- A, B, C, AND D ARE EVENTS AND ONCE THEY ARE EMITTED THE CORRESPONDING DO SOMETHING FUNCTION GETS CALLED -->
<!-- <app-multiple-choice
    (a)="doSomething1()"
    (b)="doSomething2()"
    (c)="doSomething3()"
    (d)="doSomething4()"
></app-multiple-choice> -->
<!-- <app-counter-button (buttonClicked)="incrementCount()" [count]="count"></app-counter-button>
<app-congratulations-message></app-congratulations-message> -->
<router-outlet></router-outlet>
